<div class="card">
    <div class="div-img">
        <img class="card-img" src="img/1.png"/>
    </div>
    <div class="bottom">
        <div class="arrow">
            <div>
                <mat-icon fontSet="material-icons-round" class="white-icon size">chevron_left</mat-icon>
            </div>
            <div>
                <mat-icon fontSet="material-icons-round" class="white-icon size">chevron_right</mat-icon>
            </div>
        </div>
        <h2>Bacon Explosion Burger</h2>
        <div class="div-bar">
            <div class="bar">
                <div class="h3">Size</div>
                <div>
                    <p>Select size</p>
                    <mat-icon fontSet="material-icons-round" class="white-icon" aria-hidden="false" aria-label="Example home icon" >keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <div class="bar">
                <div class="h3">Meat</div>
                <div>
                    <p>Select meat</p>
                    <mat-icon fontSet="material-icons-round" class="white-icon" aria-hidden="false" aria-label="Example home icon" >keyboard_arrow_down</mat-icon>
                </div>
            </div>
            <div class="bar">
                <div class="h3">Sauce</div>
                <div>
                    <p>Select sauce</p>
                    <mat-icon fontSet="material-icons-round" class="white-icon" aria-hidden="false" aria-label="Example home icon" >keyboard_arrow_down</mat-icon>
                </div>
            </div>
        </div>
        <div class="add-div">
            <button mat-flat-button color="primary" class="add-button">ADD TO BASKET</button>
        </div>
    </div>
</div>