<div class="card">
    <div class="div-img">
        <img class="card-img" [src]="image()"/>
    </div>
    <div class="bottom">
        <h2 >{{name()}}</h2>
        <div class="div-bar">
            <div class="bar">
                <div class="h3">Price</div>
            </div>
            <div class="bar">
                <div class="h3">Ingredients</div>
            </div>
            <div class="bar">
                <div class="h3">Calories</div>
            </div>
        </div>
    </div>
</div>