<div class="card">
    <div class="div-img">
        <img class="card-img" [src]="image()"/>
    </div>
    <div class="bottom">
        <h2 >{{name()}}</h2>
        <div class="div-bar">
            <div class="bar">
                <div class="h3">Price:</div>
                <p>{{price()}}</p>
            </div>
            <div class="bar">
                <div class="h3">Calories:</div>
                <p>{{calories()}} Kcal</p>
            </div>
            <div class="bar">
                <mat-icon fontSet="material-icons-round" class="red-icon size">star</mat-icon>
                <mat-icon fontSet="material-icons-round" class="red-icon size">star</mat-icon>
                <mat-icon fontSet="material-icons-round" class="red-icon size">star</mat-icon>
                <mat-icon fontSet="material-icons-round" class="red-icon size">star</mat-icon>
                <mat-icon fontSet="material-icons-round" class="red-icon size">star_half</mat-icon>
            </div>
        </div>
    </div>
</div>